*.exe
*.dll
*.pyc
*.bin
*.spec
__pycache__/
*.zip
*.rar
bin/
obj/
build/
dist/
*.log
build_error*.txt
build_error*.log
.vscode/
.idea/
venv/
.env
steam_cookies_*.json
cookies.txt
pyi_steam_build/
steam_alert_build/
